.pageWrapper {
    display: flex;
    justify-content: center;
}

.header-menu {
  border-radius: 0px !important;
  margin-bottom: 0px !important;
}

.side-nav {
  border-radius: 0px !important;
}